@charset "UTF-8";
/*Обнуление*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

span:hover {
  cursor: default;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

p {
  margin: 0;
}

input[type=submit] {
  background: none;
  font-size: 0;
  border: none;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

select {
  border: 1px solid #fff;
  background: none;
  color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

option {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/*--------------------*/
@font-face {
  font-family: "Futura PT";
  src: url("/fonts/FuturaPT-Heavy.eot");
  src: local("Futura PT Heavy"), local("FuturaPT-Heavy"), url("/fonts/FuturaPT-Heavy.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaPT-Heavy.woff") format("woff"), url("/fonts/FuturaPT-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("/fonts/FuturaPT-Medium.eot");
  src: local("Futura PT Medium"), local("FuturaPT-Medium"), url("/fonts/FuturaPT-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaPT-Medium.woff") format("woff"), url("/fonts/§FuturaPT-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("/fonts/FuturaPT-MediumObl.eot");
  src: local("Futura PT Medium Oblique"), local("FuturaPT-MediumObl"), url("/fonts/FuturaPT-MediumObl.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaPT-MediumObl.woff") format("woff"), url("/fonts/FuturaPT-MediumObl.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT Cond";
  src: url("/fonts/FuturaPTCond-Medium.eot");
  src: local("Futura PT Cond Medium"), local("FuturaPTCond-Medium"), url("/fonts/FuturaPTCond-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaPTCond-Medium.woff") format("woff"), url("/fonts/FuturaPTCond-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("/fonts/FuturaPT-LightObl.eot");
  src: local("Futura PT Light Oblique"), local("FuturaPT-LightObl"), url("/fonts/FuturaPT-LightObl.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaPT-LightObl.woff") format("woff"), url("/fonts/FuturaPT-LightObl.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT Book";
  src: url("/fonts/FuturaPT-Book.eot");
  src: local("Futura PT Book"), local("FuturaPT-Book"), url("/fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaPT-Book.woff") format("woff"), url("/fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Cond";
  src: url("/fonts/FuturaPTCond-Bold.eot");
  src: local("Futura PT Cond Bold"), local("FuturaPTCond-Bold"), url("/fonts/FuturaPTCond-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaPTCond-Bold.woff") format("woff"), url("/fonts/FuturaPTCond-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Book";
  src: url("/fonts/FuturaPT-BookObl.eot");
  src: local("Futura PT Book Oblique"), local("FuturaPT-BookObl"), url("/fonts/FuturaPT-BookObl.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaPT-BookObl.woff") format("woff"), url("/fonts/FuturaPT-BookObl.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT Cond Extra";
  src: url("/fonts/FuturaPTCond-ExtraBoldObl.eot");
  src: local("Futura PT Cond Extra Bold Oblique"), local("FuturaPTCond-ExtraBoldObl"), url("/fonts/FuturaPTCond-ExtraBoldObl.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaPTCond-ExtraBoldObl.woff") format("woff"), url("/fonts/FuturaPTCond-ExtraBoldObl.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT";
  src: url("/fonts/FuturaPT-Light.eot");
  src: local("Futura PT Light"), local("FuturaPT-Light"), url("/fonts/FuturaPT-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaPT-Light.woff") format("woff"), url("/fonts/FuturaPT-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("/fonts/FuturaPT-BoldObl.eot");
  src: local("Futura PT Bold Oblique"), local("FuturaPT-BoldObl"), url("/fonts/FuturaPT-BoldObl.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaPT-BoldObl.woff") format("woff"), url("/fonts/FuturaPT-BoldObl.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT Demi";
  src: url("/fonts/FuturaPT-DemiObl.eot");
  src: local("Futura PT Demi Oblique"), local("FuturaPT-DemiObl"), url("/fonts/FuturaPT-DemiObl.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaPT-DemiObl.woff") format("woff"), url("/fonts/FuturaPT-DemiObl.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT Cond Extra";
  src: url("/fonts/FuturaPTCond-ExtraBold.eot");
  src: local("Futura PT Cond Extra Bold"), local("FuturaPTCond-ExtraBold"), url("/fonts/FuturaPTCond-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaPTCond-ExtraBold.woff") format("woff"), url("/fonts/FuturaPTCond-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Demi";
  src: url("/fonts/FuturaPT-Demi.eot");
  src: local("Futura PT Demi"), local("FuturaPT-Demi"), url("/fonts/FuturaPT-Demi.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaPT-Demi.woff") format("woff"), url("/fonts/FuturaPT-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("/fonts/FuturaPT-HeavyObl.eot");
  src: local("Futura PT Heavy Oblique"), local("FuturaPT-HeavyObl"), url("/fonts/FuturaPT-HeavyObl.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaPT-HeavyObl.woff") format("woff"), url("/fonts/FuturaPT-HeavyObl.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT Extra";
  src: url("/fonts/FuturaPT-ExtraBoldObl.eot");
  src: local("Futura PT Extra Bold Oblique"), local("FuturaPT-ExtraBoldObl"), url("/fonts/FuturaPT-ExtraBoldObl.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaPT-ExtraBoldObl.woff") format("woff"), url("/fonts/FuturaPT-ExtraBoldObl.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT Cond Book";
  src: url("/fonts/FuturaPTCond-Book.eot");
  src: local("Futura PT Cond Book"), local("FuturaPTCond-Book"), url("/fonts/FuturaPTCond-Book.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaPTCond-Book.woff") format("woff"), url("/fonts/FuturaPTCond-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("/fonts/FuturaPT-Bold.eot");
  src: local("Futura PT Bold"), local("FuturaPT-Bold"), url("/fonts/FuturaPT-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaPT-Bold.woff") format("woff"), url("/fonts/FuturaPT-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Extra";
  src: url("/fonts/FuturaPT-ExtraBold.eot");
  src: local("Futura PT Extra Bold"), local("FuturaPT-ExtraBold"), url("/fonts/FuturaPT-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaPT-ExtraBold.woff") format("woff"), url("/fonts/FuturaPT-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Cond";
  src: url("/fonts/FuturaPTCond-BoldObl.eot");
  src: local("Futura PT Cond Bold Oblique"), local("FuturaPTCond-BoldObl"), url("/fonts/FuturaPTCond-BoldObl.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaPTCond-BoldObl.woff") format("woff"), url("/fonts/FuturaPTCond-BoldObl.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT Cond";
  src: url("/fonts/FuturaPTCond-MediumObl.eot");
  src: local("Futura PT Cond Medium Oblique"), local("FuturaPTCond-MediumObl"), url("/fonts/FuturaPTCond-MediumObl.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaPTCond-MediumObl.woff") format("woff"), url("/fonts/FuturaPTCond-MediumObl.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT Cond Book";
  src: url("/fonts/FuturaPTCond-BookObl.eot");
  src: local("Futura PT Cond Book Oblique"), local("FuturaPTCond-BookObl"), url("/fonts/FuturaPTCond-BookObl.eot?#iefix") format("embedded-opentype"), url("/fonts/FuturaPTCond-BookObl.woff") format("woff"), url("/fonts/FuturaPTCond-BookObl.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
body {
  font-family: "Futura PT book";
}

header {
  background-color: #F3F4F5;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__row {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item:first-child {
  margin: 0 70px 0 0;
}
.header__item:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  font-family: "Futura PT book";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #231F20;
}
.menu__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__list li {
  margin: 0 30px 0 0;
}
.menu__list li:first-child {
  margin: 0 15px 0 0;
  padding: 0 15px 0 0;
  position: relative;
}
.menu__list li:first-child a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4.5px 0 4.5px;
  border-color: #000000 transparent transparent transparent;
}
.menu__list li:last-child {
  margin: 0;
}

.subitem {
  border-right: 1px solid #CCCCCC;
  margin-right: 10px;
  padding-right: 10px;
}
.subitem:last-child {
  border: none;
  margin-right: 0px;
  padding-right: 0px;
}

.search {
  position: relative;
}
.search input:first-child {
  padding-left: 32px;
  border: none;
  width: inherit;
}
.search input:nth-child(2) {
  position: absolute;
  display: inline-block;
  left: 0;
  top: calc(50% - 7.5px);
  width: 15px;
  height: 15px;
  background: url("/img/icon/header-search.svg") 0 0/contain no-repeat;
  cursor: pointer;
}

.first_screen {
  background-color: #F3F4F5;
  position: relative;
  height: 100vh;
  padding: 137px;
}
.first_screen .container {
  max-width: 1020px;
}
.first_screen img {
  position: absolute;
  height: 100%;
  right: 10%;
  bottom: 0;
}
.first_screen h1 {
  font-style: normal;
  font-weight: 450;
  font-size: 60px;
  line-height: 77px;
  color: #231F20;
  max-width: 50%;
  margin-bottom: 12px;
}
.first_screen p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  max-width: 45%;
  margin-bottom: 50px;
}
.first_screen a {
  margin-right: 10px;
  border: 2px solid #3D46EC;
  padding: 13px 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #3D46EC;
}
.first_screen a:last-child {
  margin-right: 0;
}

.about {
  background: rgb(247, 247, 247);
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgb(247, 247, 247)), color-stop(50%, rgb(255, 255, 255)), to(rgb(255, 255, 255)));
  background: linear-gradient(90deg, rgb(247, 247, 247) 50%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%);
}
.about .container {
  max-width: 1020px;
  background-color: #fff;
  padding: 78px 100px 0;
}
.about h2 {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #3D46EC;
}
.about p {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 32px;
  color: #231F20;
}

.accordion {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.accordion-select {
  cursor: pointer;
  margin: 0;
  opacity: 0;
  z-index: 1;
}

.accordion-title {
  position: relative;
}

.accordion-title:not(:nth-last-child(2))::after {
  border: 1px solid transparent;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.accordion-title span {
  bottom: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  white-space: nowrap;
  width: 100%;
}

.accordion-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
  position: relative;
  -webkit-transition: margin 0.5s ease 0.1s;
  transition: margin 0.5s ease 0.1s;
}

.accordion-select:checked + .accordion-title + .accordion-content {
  margin-bottom: 0;
  margin-right: 0;
}

/* Generated styles starts here */
.accordion {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.accordion-title,
.accordion-select {
  background-color: #ffffff;
  color: #7f8787;
  width: 100%;
  height: 65px;
  font-size: 15px;
}

.accordion-select {
  margin-bottom: -65px;
  margin-right: -65px;
}

.accordion-title:not(:nth-last-child(2))::after {
  border-right-color: transparent;
}

.accordion-select:hover + .accordion-title,
.accordion-select:checked + .accordion-title {
  background-color: #ffffff;
}

.accordion-title span {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -ms-writing-mode: lr-tb;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  padding-left: 33px;
  padding-right: 33px;
  line-height: 65px;
}

.accordion-content {
  color: #7f8787;
  height: 280px;
  margin-bottom: -280px;
  margin-right: 0;
  padding: 30px;
  width: 100%;
}