@charset "UTF-8";
/*Обнуление*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

span:hover {
  cursor: default;
}

ul {
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

p {
  margin: 0;
}

input[type=submit] {
  background: none;
  font-size: 0;
  border: none;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

select {
  border: 1px solid #fff;
  background: none;
  color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

option {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/*--------------------*/
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Heavy.eot");
  src: local("Futura PT Heavy"), local("FuturaPT-Heavy"), url("../fonts/FuturaPT-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Heavy.woff") format("woff"), url("../fonts/FuturaPT-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Medium.eot");
  src: local("Futura PT Medium"), local("FuturaPT-Medium"), url("../fonts/FuturaPT-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/§FuturaPT-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-MediumObl.eot");
  src: local("Futura PT Medium Oblique"), local("FuturaPT-MediumObl"), url("../fonts/FuturaPT-MediumObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-MediumObl.woff") format("woff"), url("../fonts/FuturaPT-MediumObl.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT Cond";
  src: url("../fonts/FuturaPTCond-Medium.eot");
  src: local("Futura PT Cond Medium"), local("FuturaPTCond-Medium"), url("../fonts/FuturaPTCond-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPTCond-Medium.woff") format("woff"), url("../fonts/FuturaPTCond-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-LightObl.eot");
  src: local("Futura PT Light Oblique"), local("FuturaPT-LightObl"), url("../fonts/FuturaPT-LightObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-LightObl.woff") format("woff"), url("../fonts/FuturaPT-LightObl.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT Book";
  src: url("../fonts/FuturaPT-Book.eot");
  src: local("Futura PT Book"), local("FuturaPT-Book"), url("../fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Cond";
  src: url("../fonts/FuturaPTCond-Bold.eot");
  src: local("Futura PT Cond Bold"), local("FuturaPTCond-Bold"), url("../fonts/FuturaPTCond-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPTCond-Bold.woff") format("woff"), url("../fonts/FuturaPTCond-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Book";
  src: url("../fonts/FuturaPT-BookObl.eot");
  src: local("Futura PT Book Oblique"), local("FuturaPT-BookObl"), url("../fonts/FuturaPT-BookObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-BookObl.woff") format("woff"), url("../fonts/FuturaPT-BookObl.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT Cond Extra";
  src: url("../fonts/FuturaPTCond-ExtraBoldObl.eot");
  src: local("Futura PT Cond Extra Bold Oblique"), local("FuturaPTCond-ExtraBoldObl"), url("../fonts/FuturaPTCond-ExtraBoldObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPTCond-ExtraBoldObl.woff") format("woff"), url("../fonts/FuturaPTCond-ExtraBoldObl.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Light.eot");
  src: local("Futura PT Light"), local("FuturaPT-Light"), url("../fonts/FuturaPT-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Light.woff") format("woff"), url("../fonts/FuturaPT-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-BoldObl.eot");
  src: local("Futura PT Bold Oblique"), local("FuturaPT-BoldObl"), url("../fonts/FuturaPT-BoldObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-BoldObl.woff") format("woff"), url("../fonts/FuturaPT-BoldObl.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT Demi";
  src: url("../fonts/FuturaPT-DemiObl.eot");
  src: local("Futura PT Demi Oblique"), local("FuturaPT-DemiObl"), url("../fonts/FuturaPT-DemiObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-DemiObl.woff") format("woff"), url("../fonts/FuturaPT-DemiObl.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT Cond Extra";
  src: url("../fonts/FuturaPTCond-ExtraBold.eot");
  src: local("Futura PT Cond Extra Bold"), local("FuturaPTCond-ExtraBold"), url("../fonts/FuturaPTCond-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPTCond-ExtraBold.woff") format("woff"), url("../fonts/FuturaPTCond-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Demi";
  src: url("../fonts/FuturaPT-Demi.eot");
  src: local("Futura PT Demi"), local("FuturaPT-Demi"), url("../fonts/FuturaPT-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Demi.woff") format("woff"), url("../fonts/FuturaPT-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-HeavyObl.eot");
  src: local("Futura PT Heavy Oblique"), local("FuturaPT-HeavyObl"), url("../fonts/FuturaPT-HeavyObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-HeavyObl.woff") format("woff"), url("../fonts/FuturaPT-HeavyObl.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT Extra";
  src: url("../fonts/FuturaPT-ExtraBoldObl.eot");
  src: local("Futura PT Extra Bold Oblique"), local("FuturaPT-ExtraBoldObl"), url("../fonts/FuturaPT-ExtraBoldObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-ExtraBoldObl.woff") format("woff"), url("../fonts/FuturaPT-ExtraBoldObl.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT Cond Book";
  src: url("../fonts/FuturaPTCond-Book.eot");
  src: local("Futura PT Cond Book"), local("FuturaPTCond-Book"), url("../fonts/FuturaPTCond-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPTCond-Book.woff") format("woff"), url("../fonts/FuturaPTCond-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Bold.eot");
  src: local("Futura PT Bold"), local("FuturaPT-Bold"), url("../fonts/FuturaPT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Extra";
  src: url("../fonts/FuturaPT-ExtraBold.eot");
  src: local("Futura PT Extra Bold"), local("FuturaPT-ExtraBold"), url("../fonts/FuturaPT-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-ExtraBold.woff") format("woff"), url("../fonts/FuturaPT-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Futura PT Cond";
  src: url("../fonts/FuturaPTCond-BoldObl.eot");
  src: local("Futura PT Cond Bold Oblique"), local("FuturaPTCond-BoldObl"), url("../fonts/FuturaPTCond-BoldObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPTCond-BoldObl.woff") format("woff"), url("../fonts/FuturaPTCond-BoldObl.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT Cond";
  src: url("../fonts/FuturaPTCond-MediumObl.eot");
  src: local("Futura PT Cond Medium Oblique"), local("FuturaPTCond-MediumObl"), url("../fonts/FuturaPTCond-MediumObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPTCond-MediumObl.woff") format("woff"), url("../fonts/FuturaPTCond-MediumObl.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Futura PT Cond Book";
  src: url("../fonts/FuturaPTCond-BookObl.eot");
  src: local("Futura PT Cond Book Oblique"), local("FuturaPTCond-BookObl"), url("../fonts/FuturaPTCond-BookObl.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPTCond-BookObl.woff") format("woff"), url("../fonts/FuturaPTCond-BookObl.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
body {
  font-family: "Futura PT book";
  background-color: #F3F4F5;
}

main {
  overflow: hidden;
}

.subtitle {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #3D46EC;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper {
  min-height: 100vh;
  margin-top: 100vh;
  padding-left: 40px;
  position: relative;
  background: #fff;
}
.wrapper:before {
  content: "";
  width: calc((100vw - 200px) / 4 * 0.75);
  max-width: 150px;
  top: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: #f7f7f7;
  z-index: 3;
}

.fixed_logo {
  position: absolute;
  top: 50px;
  z-index: 4;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transform: translate(0, -150%);
          transform: translate(0, -150%);
  opacity: 0;
}
.fixed_logo._active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
  position: fixed;
}

.header {
  background-color: #F3F4F5;
  position: fixed;
  z-index: 10;
  width: 100%;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}
.header .container {
  margin: 0 auto;
}
.header .header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__item:first-child {
  margin: 0 70px 0 0;
}
.header .header__item:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header .header__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header._close {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
}
.header a {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}
.header a:hover {
  color: #3D46EC;
}
.header .menu__list {
  font-family: "Futura PT book";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #231F20;
}
.header .menu__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .menu__list li {
  margin: 0 30px 0 0;
}
.header .menu__list li:first-child {
  margin: 0 15px 0 0;
  padding: 0 15px 0 0;
  position: relative;
}
.header .menu__list li:first-child a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4.5px 0 4.5px;
  border-color: #000000 transparent transparent transparent;
}
.header .menu__list li:last-child {
  margin: 0;
}
.header .subitem {
  border-right: 1px solid #CCCCCC;
  margin-right: 10px;
  padding-right: 10px;
}
.header .subitem:last-child {
  border: none;
  margin-right: 0px;
  padding-right: 0px;
}
.header .search {
  position: relative;
}
.header .search input:first-child {
  padding-left: 32px;
  border: none;
  width: inherit;
  background-color: #F3F4F5;
}
.header .search input:nth-child(2) {
  position: absolute;
  display: inline-block;
  left: 0;
  top: calc(50% - 7.5px);
  width: 15px;
  height: 15px;
  background: url("../img/icon/header-search.svg") 0 0/contain no-repeat;
  cursor: pointer;
}

.first_screen {
  background: #F3F4F5;
  position: fixed;
  height: 100vh;
  width: 100vw;
  padding-top: 27vh;
}
.first_screen .container {
  max-width: 1020px;
  margin: 0 auto;
}
.first_screen img {
  position: absolute;
  height: 90vh;
  right: 30%;
  bottom: 0;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}
.first_screen img._active {
  right: 10%;
}
.first_screen img._position {
  position: absolute;
  height: 90vh;
  top: auto;
}
.first_screen h1 {
  font-style: normal;
  font-weight: 450;
  font-size: 60px;
  line-height: 77px;
  color: #231F20;
  max-width: 530px;
  margin-bottom: 12px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
  opacity: 0;
}
.first_screen h1._active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}
.first_screen p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  max-width: 500px;
  margin-bottom: 50px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
  opacity: 0;
}
.first_screen p._active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}
.first_screen a {
  margin-right: 10px;
  border: 2px solid #3D46EC;
  padding: 13px 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #3D46EC;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
  opacity: 0;
}
.first_screen a._active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}
.first_screen a:hover {
  color: #FFF;
  background: #3D46EC;
}
.first_screen a:last-child {
  margin-right: 0;
}

.about {
  background: #fff;
  margin-top: 100vh;
  position: relative;
  padding-bottom: 100px;
}
.about .container {
  max-width: 1020px;
  background-color: #fff;
  padding: 78px 0px 0;
  position: relative;
}
.about h2 {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #3D46EC;
}
.about .about__description {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 32px;
  color: #231F20;
  margin-bottom: 50px;
}
.about ol {
  counter-reset: ol-numbers;
  margin: 0;
  padding: 0;
}
.about ol li {
  position: relative;
}
.about ol li:first-child:before {
  top: 0;
}
.about ol li::before {
  counter-increment: ol-numbers;
  content: "0" counter(ol-numbers) ".";
  position: absolute;
  top: 20px;
  left: 0;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #231F20;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.about ol li:hover::before {
  text-shadow: 0 0 1px #000;
}
.about .about_item {
  cursor: default;
  position: relative;
  width: 55%;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  padding-top: 20px;
}
.about .about_item:first-child {
  padding-top: 0;
}
.about .about_item:first-child::after {
  height: 0px;
  width: 0%;
}
.about .about_item:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  display: inline-block;
  background-color: #F7F7F7;
  top: 0;
  left: 0;
}
.about .about_item h3 {
  position: relative;
  padding: 0 0 0 40px;
  margin-bottom: 15px;
  display: inline-block;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #231F20;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}
.about .about_item h3:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 50px;
  border: 1px solid #231F20;
  right: -63px;
  top: 50%;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transform: translateX(-40%) scaleX(0);
          transform: translateX(-40%) scaleX(0);
  visibility: hidden;
  z-index: 2;
}
.about .about_item h3:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  border: 1px solid #F7F7F7;
  right: calc(-100% - 63px);
  top: 50%;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transform: translateX(-80%) scaleX(0);
          transform: translateX(-80%) scaleX(0);
  visibility: hidden;
  z-index: 1;
}
.about .about_item:hover h3 {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  text-shadow: 0 0 1px #000;
  color: #000;
}
.about .about_item:hover h3:before {
  -webkit-transform: translateX(0) scaleX(1);
          transform: translateX(0) scaleX(1);
  opacity: 1;
  visibility: visible;
}
.about .about_item:hover h3:after {
  -webkit-transform: translateX(0) scaleX(1);
          transform: translateX(0) scaleX(1);
  opacity: 1;
  visibility: visible;
}
.about .about_item p {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  color: #231F20;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.about .about_item:hover p {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  font-size: 25px;
  line-height: 32px;
}
.about .about_item img {
  position: absolute;
  width: 80%;
  right: -50%;
  top: -10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}
.about .about_item:hover img {
  opacity: 1;
  right: -100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  visibility: visible;
}
.about .about_item a {
  padding: 14px 26px;
  margin-bottom: 0px;
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #FFF;
  background: #3D46EC;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.about .about_item:hover a {
  opacity: 1;
  visibility: visible;
  margin-bottom: 48px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.why {
  padding: 215px 0 125px;
  background: url("../img/pictures/why.jpg") 0 0/cover no-repeat;
}
.why .container {
  max-width: 970px;
}
.why h3 {
  font-family: "Futura PT";
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.why p {
  font-family: "Futura PT";
  font-weight: 300;
  font-size: 25px;
  line-height: 32px;
  color: #FFFFFF;
  width: 50%;
}

.reasons {
  background-color: #fff;
}
.reasons ol {
  counter-reset: ol-numbers;
  margin: 0;
  padding: 45px 50px;
  -webkit-transform: translate(-50px, -100px);
          transform: translate(-50px, -100px);
  z-index: 2;
  background: #fff;
}
.reasons ol li {
  padding: 0 0 0 40px;
  position: relative;
  cursor: default;
}
.reasons ol li:first-child:before {
  top: 0;
}
.reasons ol li::before {
  counter-increment: ol-numbers;
  content: "0" counter(ol-numbers) ".";
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #231F20;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.reasons ol li:hover::before {
  text-shadow: 0 0 1px #000;
}
.reasons h3 {
  position: relative;
  margin-bottom: 15px;
  display: inline-block;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #231F20;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  letter-spacing: 1px;
}
.reasons h3:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 50px;
  border: 1px solid #231F20;
  right: -63px;
  top: 50%;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transform: translateX(-40%) scaleX(0);
          transform: translateX(-40%) scaleX(0);
  visibility: hidden;
  z-index: 2;
}
.reasons h3:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100px;
  border: 1px solid #F7F7F7;
  right: -150px;
  top: 50%;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transform: translateX(-80%) scaleX(0);
          transform: translateX(-80%) scaleX(0);
  visibility: hidden;
  z-index: 1;
}
.reasons p {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 32px;
  color: #231F20;
  opacity: 0;
  position: absolute;
  display: inline-block;
  right: 15%;
  top: 0;
  width: 40%;
  -webkit-transform: translateY(-50%) scaleY(0);
          transform: translateY(-50%) scaleY(0);
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.reasons li:hover h3 {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  text-shadow: 0 0 1px #000;
  letter-spacing: 2px;
}
.reasons li:hover h3:before {
  -webkit-transform: translateX(0) scaleX(1);
          transform: translateX(0) scaleX(1);
  opacity: 1;
  visibility: visible;
}
.reasons li:hover h3:after {
  -webkit-transform: translateX(0) scaleX(1);
          transform: translateX(0) scaleX(1);
  opacity: 1;
  visibility: visible;
}
.reasons li:hover p {
  -webkit-transform: translateY(0) scaleY(1);
          transform: translateY(0) scaleY(1);
  opacity: 1;
}

.sertified .swiper {
  overflow: visible;
}
.sertified .container {
  max-width: 1020px;
}
.sertified p {
  max-width: 550px;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 32px;
  color: #231F20;
  margin-bottom: 185px;
}
.sertified a {
  text-align: right;
  position: relative;
  padding-right: 70px;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  line-height: 26px;
  color: #231F20;
}
.sertified a span {
  cursor: pointer;
}
.sertified a svg {
  margin-left: 10px;
}
.sertified .swiper {
  background: #E9EAEE;
  margin-bottom: 62px;
}
.sertified .swiper h4 {
  padding: 0 0 0 52px;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 450;
  font-size: 25px;
  line-height: 32px;
  color: #231F20;
  position: relative;
}
.sertified .swiper h4:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
.sertified .sertified__price {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}
.sertified .sertified__price span {
  position: relative;
  font-family: "Futura PT book";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #231F20;
  padding-left: 25px;
}
.sertified .sertified__price span svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.sertified .sertified__price span:before {
  content: "";
  position: absolute;
  display: inline-block;
}
.sertified .sertified__price span .old_price {
  color: #848484;
  padding: 0;
  margin: 0 10px;
}
.sertified .sertified__price span .old_price:before {
  background: #000000;
  width: 110%;
  height: 1px;
  top: 50%;
  left: -5%;
}
.sertified .swiper-wrapper {
  overflow: visible;
}
.sertified .swiper-slide {
  -webkit-transform: translateY(-131px);
          transform: translateY(-131px);
  max-width: 320px;
  height: auto;
  overflow: hidden;
  background: rgb(247, 247, 247);
  padding: 30px 20px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}
.sertified .swiper-slide:hover {
  color: #fff;
}
.sertified .swiper-slide:hover li,
.sertified .swiper-slide:hover h4,
.sertified .swiper-slide:hover a,
.sertified .swiper-slide:hover span {
  color: inherit;
}
.sertified .swiper-slide:hover ul {
  border-bottom: 1px solid #fff;
}
.sertified .swiper-slide:hover .hover_backghound {
  opacity: 1;
}
.sertified .swiper-slide:hover .old_price {
  color: #848484;
}
.sertified .swiper-slide:hover .old_price:before {
  background: #fff;
}
.sertified .swiper-slide:hover svg path {
  fill: #fff;
}
.sertified .swiper-slide:hover .title__container svg path {
  fill: none;
  stroke: #fff;
}
.sertified .swiper-slide:hover .slide__item_3 svg path {
  fill: none;
  stroke: #fff;
}
.sertified .swiper-slide:hover .sertified__price svg path {
  fill: none;
  stroke: #fff;
}
.sertified .swiper-slide .hover_backghound {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}
.sertified .swiper-slide .title__container {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.sertified .swiper-slide svg {
  position: absolute;
  top: 10px;
}
.sertified .swiper-slide .slide_container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sertified .swiper-slide ul {
  padding: 0 30px 20px;
  border-bottom: 1px solid #E9EAEE;
  z-index: 2;
}
.sertified .swiper-slide ul li {
  margin-bottom: 15px;
  font-family: "Futura PT book";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #231F20;
  padding-left: 26px;
  position: relative;
}
.sertified .swiper-slide ul li:last-child {
  margin-bottom: 0;
}
.sertified .swiper-slide ul li svg {
  height: 100%;
  top: 0;
  left: 0;
}
.sertified .swiper-slide ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 20px;
}

.trusted .container {
  max-width: 1020px;
}
.trusted .subtitle {
  margin-bottom: 5px;
}
.trusted p {
  max-width: 660px;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 32px;
  color: #231F20;
  margin-bottom: 28px;
}
.trusted .trusted__row {
  max-width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 90px;
}
.trusted .trusted__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}
.trusted .trusted__item svg {
  width: 100%;
}

.help {
  background: url("../img/pictures/help-img.jpg") 0 0/cover no-repeat;
  padding-top: 54px;
}
.help .container {
  max-width: 1020px;
}
.help .subtitle {
  margin-bottom: 34px;
}
.help .help__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.help .help__item {
  background: #F7F7F7;
  padding: 35px 35px 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  margin-right: 2px;
  min-height: 300px;
  position: relative;
}
.help .help__item p {
  max-width: 200px;
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #231F20;
}
.help .help__item a {
  position: absolute;
  bottom: 25px;
  right: 40px;
}
.help .help__item a::after {
  content: "";
  display: inline-block;
  height: 10px;
  width: 50px;
  background: url("../img/icon/help-arrow.svg") 0 0/contain no-repeat;
  margin-left: 10px;
}

footer {
  background: #231F20;
  color: #fff;
  padding: 70px 0 43px;
  position: relative;
  z-index: 5;
}
footer .container {
  margin: 0 auto;
}
footer p {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 32px;
  margin-bottom: 10px;
}
footer a {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}
footer a:hover {
  color: #3D46EC;
}
footer .subtitle {
  font-family: "Futura PT";
  font-size: 18px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: bold;
}
footer .footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}
footer h3 {
  font-family: "Futura PT";
  font-size: 16px;
  font-weight: bold;
  margin: 25px 0;
}
footer a,
footer span,
footer li {
  font-family: "Futura PT";
  color: #fff;
  display: block;
  margin-bottom: 5px;
  font-weight: 300;
}
footer .footer__item:first-child {
  margin-right: 15%;
}
footer .footer__item:nth-child(2) {
  margin-right: 5%;
}
footer .copirate {
  display: inline-block;
  font-weight: bold;
}