@media (max-width: 1200px) {
  .about {
    .about_item {
      &:hover {
        img {
          left: 95%;
        }
      }
    }
  }

  .reasons {
    p {
      left: 55%;
    }
  }
}

@media (max-width: 1100px) {
  .header .header__item:first-child {
    margin: 0 40px 0 0;
  }

  .wrapper {
    &:before {
      width: 120px;
    }
  }

  .fixed_logo {
    padding-left: 30px;
  }

  .about {
    .container {
      margin-left: 150px;
    }
  }

  .why {
    .container {
      padding-left: 180px;
    }
  }

  .reasons {
    .container {
      padding-left: 150px;
    }

    ol {
      padding: 45px 30px;
    }
  }

  .sertified {
    .container {
      padding-left: 150px;
    }

    .swiper {
      padding-left: 150px;
    }
  }

  .help {
    .container {
      padding-left: 150px;
    }

    .help__item {
      width: 270px;
      height: 250px;
    }
  }

  footer {
    .container {
      padding-left: 150px;
    }
  }
}

@media (max-width: 950px) {
  .wrapper {
    // padding: 0 0 0 20px;
  }

  .wrapper::before {
    display: none;
  }

  .fixed_logo {
    display: none;
    top: 20px;
    padding-left: 20px;
  }

  .menu_icon {
    display: block;
  }

  .header {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    padding: 15px 0;


    .container {
      position: relative;
      padding: 0 20px;
    }

    .menu__list {
      display: none;
    }

    .subitem {
      display: none;
    }
  }

  .first_screen {
    h1 {
      font-size: 45px;
      line-height: 55px;
      transform: translateX(0%);
      opacity: 1;
    }

    p {
      max-width: 400px;
      transform: translateX(0%);
      opacity: 1;
    }

    a {
      transform: translateX(0%);
      opacity: 1;
    }

    img {
      right: 5%;

      &._active {
        right: 5%;
      }
    }
  }

  .about {
    padding-bottom: 50px;

    .container {
      margin-left: 0;
      padding-left: 20px;
    }

    ol li:before {
      font-weight: 500;
      letter-spacing: 2px;
    }

    ol li:hover::before {
      text-shadow: 0 0 0px #000;
    }

    .about_item {
      width: 350px;

      br {
        display: none;
      }

      h3:before,
      h3:after {
        display: none;
      }

      h3 {
        transition-duration: 500ms;
        text-shadow: 0 0 0px #000;
        color: #000;
        font-weight: 500;
        letter-spacing: 2px;

        &:before {
          transform: translateX(0) scaleX(1);
          opacity: 1;
          visibility: visible;
        }

        &:after {
          transform: translateX(0) scaleX(1);
          opacity: 1;
          visibility: visible;
        }
      }

      &:hover h3 {
        transition-duration: 500ms;
        text-shadow: 0 0 0px #000;
        color: #000;

        &:before {
          transform: translateX(0) scaleX(1);
          opacity: 1;
          visibility: visible;
        }

        &:after {
          transform: translateX(0) scaleX(1);
          opacity: 1;
          visibility: visible;
        }
      }

      p {
        font-size: 22px;
        line-height: 30px;
      }

      &:hover p {
        transition-duration: 300ms;
        font-size: 22px;
        line-height: 30px;
      }

      a {
        opacity: 1;
        visibility: visible;
        margin-bottom: 31px;
        transform: translateY(0);
      }

      &:hover a {
        opacity: 1;
        visibility: visible;
        margin-bottom: 31px;
        transform: translateY(0);
      }

      img {
        position: relative;
        display: block;
        opacity: 1;
        left: auto;
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
        visibility: visible;
        right: 0;
        max-width: none;
        max-height: none;
        width: 100%;
      }

      &:hover img {
        opacity: 1;
        left: auto;
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
        visibility: visible;
        right: 0;
        height: 100%;
      }
    }
  }

  .why {
    padding: 180px 0 36px;

    .container {
      padding-left: 20px;
    }

    p {
      width: 70%;
    }
  }

  .reasons {
    padding-top: 20px;
  }

  .reasons .container {
    padding-left: 20px;

    ol {}

    h3 {
      &:after {
        width: 55px;
        right: -120px;
      }
    }
  }

  .sertified {
    .container {
      padding-left: 20px;
    }

    .swiper {
      padding-left: 20px;
    }
  }

  .trusted {
    .container {
      padding-left: 20px;
    }

    p {
      max-width: 500px;
    }

    .trusted_item {
      svg {
        display: inline-block;
        height: 100px !important;
      }
    }
  }

  .help .help__item {
    width: 250px;
    height: 180px;
  }

  .help {
    .container {
      padding-left: 20px;
    }
  }

  footer {
    .container {
      padding-left: 20px;
    }
  }
}

@media (max-width: 900px) {



  .reasons p {

    left: 59%;

  }

}

@media (max-width: 800px) {


  .first_screen {
    img {
      display: none;
    }

    a {
      color: #FFF;
      background: #3D46EC;
    }
  }

  .about {
    .about_item {
      width: 65%;
    }
  }

  .reasons {
    h3 {
      &::after {
        display: none;
      }
    }

    li {
      margin-bottom: 15px;
    }

    p {
      display: block;
      position: relative;
      width: 100%;
      left: 0;
      line-height: 5px;
    }

    li:hover p {
      transform: translateY(0) scaleY(1);
      opacity: 1;
      line-height: 32px;
    }
  }

  footer {
    .container {
      padding-left: 110px;
    }
  }
}

@media (max-width: 700px) {


  .about {
    .about_item {}

    .why {
      padding: 100px 0 125px;
    }

    .trusted .trusted__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
      flex: 1 0 26%;
      margin: 15px 5px;
    }

    .trusted .trusted__item svg {
      height: auto;
    }

    .trusted .trusted__row {
      max-width: 80%;
    }

    .wrapper::before {
      width: 80px;
    }

    .fixed_logo {
      padding-left: 10px;
    }

    footer .container {
      padding-left: 50px;
    }
  }
}

@media (max-width: 650px) {
  .why p {
    width: 85%;
  }

  .about .about_item img {
    display: none;
  }

  .help .help__row {
    flex-direction: column;
  }

  .help .help__item {
    width: 270px;
    height: 160px;
    padding: 20px 10px;
    margin: 0 0 5px;
  }
}

@media (max-width: 550px) {

  footer .footer__row {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .about .about_item {
    width: 100%;
  }

  .reasons ol {
    padding: 45px 20px 0;
  }
}