@media (max-width: 1200px) {
  .about {
    .about_item {
      &:hover {
        img {
          left: 95%;
        }
      }
    }
  }

  .reasons {
    p {
      left: 55%;
    }
  }
}

@media (max-width: 1100px) {
  .header .header__item:first-child {
    margin: 0 40px 0 0;
  }

  .wrapper {
    &:before {
      width: 120px;
    }
  }

  .fixed_logo {
    padding-left: 30px;
  }

  .about {
    .container {
      margin-left: 150px;
    }
  }

  .why {
    .container {
      padding-left: 180px;
    }
  }

  .reasons {
    .container {
      padding-left: 150px;
    }

    ol {
      padding: 45px 30px;
    }
  }

  .sertified {
    .container {
      padding-left: 150px;
    }

    .swiper {
      padding-left: 150px;
    }
  }

  .help {
    .container {
      padding-left: 150px;
    }

    .help__item {
      width: 270px;
      height: 250px;
    }
  }

  footer {
    .container {
      padding-left: 150px;
    }
  }
}

@media (max-width: 950px) {
  .wrapper {
    // padding: 0 0 0 20px;
  }

  .wrapper::before {
    display: none;
  }

  .fixed_logo {
    display: none;
    top: 20px;
    padding-left: 20px;
  }

  .menu_icon {
    display: block;
  }

  .header {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    padding: 15px 0;


    .container {
      position: relative;
      padding: 0 20px;
    }

    .menu__list {
      display: none;
    }

    .subitem {
      display: none;
    }
  }

  .first_screen {
    h1 {
      font-size: 45px;
      line-height: 55px;
      transform: translateX(0%);
      opacity: 1;
    }

    p {
      max-width: 400px;
      transform: translateX(0%);
      opacity: 1;
    }

    a {
      transform: translateX(0%);
      opacity: 1;
    }

    img {
      right: 5%;

      &._active {
        right: 5%;
      }
    }
  }

  .about {
    padding: 27px 0 50px;

    .container {
      margin-left: 0;
      padding: 0 20px;
    }

    ol li:before {
      font-weight: 500;
      letter-spacing: 2px;
    }

    ol li:hover::before {
      text-shadow: 0 0 0px #000;
    }

    .about_item {
      width: 350px;

      &::after {
        display: none;
      }

      br {
        display: none;
      }

      h3:before,
      h3:after {
        display: none;
      }

      h3 {
        transition-duration: 500ms;
        text-shadow: 0 0 0px #000;
        color: #000;
        font-weight: 500;
        letter-spacing: 2px;

        &:before {
          transform: translateX(0) scaleX(1);
          opacity: 1;
          visibility: visible;
        }

        &:after {
          transform: translateX(0) scaleX(1);
          opacity: 1;
          visibility: visible;
        }
      }

      &:hover h3 {
        transition-duration: 500ms;
        text-shadow: 0 0 0px #000;
        color: #000;

        &:before {
          transform: translateX(0) scaleX(1);
          opacity: 1;
          visibility: visible;
        }

        &:after {
          transform: translateX(0) scaleX(1);
          opacity: 1;
          visibility: visible;
        }
      }

      p {
        font-size: 22px;
        line-height: 30px;
      }

      &:hover p {
        transition-duration: 300ms;
        font-size: 22px;
        line-height: 30px;
      }

      a {
        opacity: 1;
        visibility: visible;
        margin-bottom: 31px;
        transform: translateY(0);
      }

      &:hover a {
        opacity: 1;
        visibility: visible;
        margin-bottom: 31px;
        transform: translateY(0);
      }

      img {
        position: relative;
        display: block;
        opacity: 1;
        left: auto;
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
        visibility: visible;
        right: 0;
        max-width: none;
        max-height: none;
        width: 100%;
      }

      &:hover img {
        opacity: 1;
        left: auto;
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
        visibility: visible;
        right: 0;
        height: 100%;
      }
    }
  }

  .why {
    padding: 180px 0 36px;

    .container {
      padding: 0 20px;
    }

    p {
      width: 70%;
    }
  }

  .reasons {
    margin-bottom: 35px;

    .container {
      padding-left: 0;
    }

    .reasons_accordion {
      .reasons_accordion__item {
        .spollet__text {
          font-family: 'Futura PT';
          font-style: normal;
          font-weight: 300;
          font-size: 25px;
          line-height: 0;
          color: #231F20;
          transition-duration: 500ms;
        }
      }

      ._active {
        .spoller__text {
          padding: 23px;
          display: block;
          height: auto;
          line-height: 32px;
          height: auto;
          opacity: 1;
          transform: translateY(0) scaleY(1);
        }

        .spoller__title {
          font-family: 'Futura PT';
          font-style: normal;
          font-weight: 450;
          font-size: 18px;
          line-height: 23px;
          color: #231F20;


        }

        &:before {
          font-family: 'Futura PT';
          font-style: normal;
          font-weight: 450;
          font-size: 18px;
          line-height: 23px;
          color: #231F20;
        }
      }
    }

    ol {
      padding: 17px 20px;
      transform: translate(0, 0);

      ._active {
        //  border: 1px solid red;

        p {
          display: block;
        }
      }

      li {
        margin-bottom: 13px;

        h3 {
          position: relative;
          margin-bottom: 0;
          display: inline-block;
          font-family: "Futura PT";
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 23px;
          color: #231F20;
          -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
          letter-spacing: 1px;
          text-shadow: none;
        }

        transition-duration: 500ms;

        &:hover {
          margin-bottom: 13px;

          h3 {
            position: relative;
            margin-bottom: 0;
            display: inline-block;
            font-family: "Futura PT";
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 23px;
            color: #231F20;
            -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
            letter-spacing: 1px;
            text-shadow: none;
          }

          p {
            font-family: "Futura PT";
            font-style: normal;
            font-weight: 300;
            font-size: 25px;
            line-height: 32px;
            color: #231F20;
            position: absolute;
            display: inline-block;
            left: 45%;
            top: 0;
            width: 40%;
            -webkit-transform: translateY(-50%) scaleY(0);
            transform: translateY(-50%) scaleY(0);
            opacity: 0;
            -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
          }
        }

        h3 {
          margin-bottom: 0px;
          display: inline;

          &:before,
          &:after {
            display: none;
          }
        }

        p {
          display: block;
          left: 0;
          position: relative;
          height: 0;
          transition-duration: 300ms;
        }
      }
    }


  }

  .sertified {
    .swiper_sertified {
      width: 100%;
      padding: 0 20px;
    }

    .container {
      padding: 0 20px;
    }

    .swiper {
      padding-left: 20px;
    }
  }

  .trusted {
    .container {
      padding: 0 20px;
    }

    p {
      max-width: 500px;
    }

    .trusted_item {
      svg {
        display: inline-block;
        height: 100px !important;
      }
    }
  }

  .help .help__item {
    width: 250px;
    height: 180px;
  }

  .help {
    .container {
      padding: 0 20px;
    }
  }

  footer {
    .container {
      padding: 0 20px;
    }
  }
}

@media (max-width: 900px) {}

@media (max-width: 800px) {


  .first_screen {
    img {
      display: none;
    }

    a {
      color: #FFF;
      background: #3D46EC;
    }
  }

  .about {
    .about_item {
      width: 65%;
    }
  }


  .trusted .trusted__item {
    flex: 1 0 23%;
  }
}

@media (max-width: 700px) {

  .trusted .trusted__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 1 0 26%;
    margin: 15px 5px;
  }

  .trusted .trusted__item svg {
    height: auto;
  }

  .trusted .trusted__row {
    max-width: 80%;
  }

  .wrapper::before {
    width: 80px;
  }

  .fixed_logo {
    padding-left: 10px;
  }
}

@media (max-width: 650px) {
  .why p {
    width: 85%;
  }

  .help .help__row {
    flex-direction: column;
  }

  .help .help__item {
    width: 270px;
    height: 300px;
    padding: 20px 10px;
    margin: 0 0 5px;
  }
}

@media (max-width: 550px) {
  .trusted {
    .container {
      padding: 20px;
    }

    .trusted__row {
      width: 100%;
      max-width: 100%;
    }
  }

  footer .footer__row {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .first_screen {
    h1 {
      font-size: 30px;
      line-height: 38px;
    }

    a {
      display: block;
      max-width: 170px;

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }

  .about {
    .about_item {
      a {
        display: block;
        max-width: 136px;
        margin: 0 auto;
        text-align: center;
      }

      p {
        margin-bottom: 50px;
      }

      &:not(:last-of-type) {
        a {
          display: none;
        }

        p {
          margin-bottom: 30px;
        }
      }
    }

    .about_item {
      width: 100%;
    }
  }

  footer {
    .copirate {
      font-size: 12px;
    }
  }
}