.coaching_wrapper {
  margin-top: 0;
}

.coaching_firstscreen {
  padding: 190px 0 116px;
  position: relative;
  height: auto;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=1);
    /* IE6-9 */

  }

  h1 {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 450;
    font-size: 45px;
    line-height: 58px;
    transform: translateX(0);
    opacity: 1;
    color: #FFFFFF;
    margin-bottom: 23px;
  }

  p {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    transform: translateX(0);
    opacity: 1;
    margin-bottom: 28px;
  }

  a {
    font-family: 'Futura PT';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    transform: translateX(0);
    opacity: 1;
    background: #3D46EC;
    position: relative;
    display: inline-block;
  }
}

.coacing_stay {
  margin-bottom: 500px;

  .container {
    padding: 38px 90px 0 200px;
  }



  .coacing_stay__row {
    display: flex;
    max-width: 1150px;
  }

  .subtitle {
    margin-bottom: 34px;
  }

  .coaching_stay__item {}

  .coaching_stay__text {

    margin-right: 60px;

    p {
      font-family: 'Futura PT';
      font-style: normal;
      font-weight: 300;
      font-size: 25px;
      line-height: 32px;
      color: #231F20;
    }
  }

  .coaching_stay__img {
    flex: 0 0 45%;

    img {
      width: 100%;
    }
  }
}

.coaching_wrapper {
  .coach {
    p {
      max-width: 660px;
      font-family: 'Futura PT';
      font-style: normal;
      font-weight: 300;
      font-size: 25px;
      line-height: 32px;
      color: #231F20;
      margin-bottom: 57px;
    }

    .container {
      padding-left: 200px;
    }

    .coach__hover_list {
      max-width: 880px;
      margin-bottom: 290px;
      position: relative;


      .coach__hover_item {

        margin-bottom: 15px;
        padding-bottom: 0;
        cursor: pointer;
        transition-duration: 300ms;

        &._active {
          h4 {
            span {
              font-weight: 450;
            }
          }

          .img_container {
            transform: translateY(0) scaleY(1);
            opacity: 1;
          }

          p {
            transform: translateY(0) scaleY(1);
            opacity: 1;
          }
        }

        h4 {
          font-family: 'Futura PT';
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 23px;
          color: #231F20;


        }

        p {
          max-width: 440px;
          margin: 9px 0 18px;
          padding: 35px 50px 40px;
          transform: translateY(-50%) scaleY(0);
          position: absolute;
          opacity: 0;
          transition-duration: 500ms;
          border-left: 1px solid #E9EAEE;
        }

        .img_container {
          position: absolute;
          top: 0;
          right: 0;
          width: 40%;
          transform: translateY(-50%) scaleY(0);
          opacity: 0;
          transition-duration: 500ms;

          img {
            width: 100%;

            &:first-child {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }



  .coach__mobile_list {
    display: none;

    li {
      position: relative;
      padding-bottom: 0;
      cursor: pointer;

      h4 {
        font-family: 'Futura PT';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 23px;
        color: #231F20;

        span {}
      }

      p {
        max-width: 440px;
        margin-bottom: 15px;
        transform: translateY(-50%) scaleX(0);
        height: 0;
      }

      .img_container {
        position: absolute;
        top: 0;
        right: 0;
        width: 40%;

        img {
          width: 100%;
        }
      }
    }
  }
}